.inputs {
    display: grid;
    gap: 30px;
}

@media(min-width: 768px) {
    .inputs {
        grid-template-columns: repeat(2, 1fr);
    }
}

.item {
    display: flex;
    flex-direction: column;
}

.register-button {
    margin-top: 20px;
}

.p-inputgroup {
    display: block;
}

.buttons {
    display: flex;
    gap: 20px;
}