<p-toast></p-toast>
<p-fieldset>
    <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg">Register</span>
        </div>
    </ng-template>
    <form class="register-form" [formGroup]="formRegister" (ngSubmit)="registerUser()">
        <app-progress-bar *ngIf="loading"></app-progress-bar>
        <div class="inputs">

            <div class="p-inputgroup">
                <span class="p-float-label">
            <input pInputText id="names" formControlName="names"/>
            <label htmlFor="names">Names</label>
            
                </span>
                <span *ngIf="formRegister.get('names')!.hasError('required')&&formRegister.get('names')!.touched" [ngStyle]="{color: 'var(--red-400)'}">
                    Please, enter your names to continue.
                </span>
            </div>
            <div class="p-inputgroup">

                <div class="p-inputgroup">
                    <span class="p-float-label">
                <input pInputText id="lastnames" formControlName="lastnames"/>
                <label htmlFor="lastnames">Last names</label>
                </span>
                    <span *ngIf="formRegister.get('lastnames')!.hasError('required')&&formRegister.get('lastnames')!.touched" [ngStyle]="{color: 'var(--red-400)'}">
                    Please, enter your last names to continue.
                </span>
                </div>

            </div>
            <div class="p-inputgroup">

                <div class="p-inputgroup">
                    <span class="p-float-label">
                <input pInputText id="Password" formControlName="password" type="password"/>
                <label htmlFor="Password">Password</label>
                </span>
                    <span *ngIf="formRegister.get('password')!.hasError('required')&&formRegister.get('password')!.touched" [ngStyle]="{color: 'var(--red-400)'}">
                    Please, enter your password to continue.
                </span>

                    <span *ngIf="!formRegister.get('password')!.hasError('required')&&formRegister.get('password')!.touched&&formRegister.get('password')!.hasError('minlength')" [ngStyle]="{color: 'var(--red-400)'}">
                    Please, your password must have at least 8 characters
                </span>
                </div>
            </div>
            <div class="p-inputgroup">

                <div class="p-inputgroup">
                    <span class="p-float-label">
                <input pInputText id="ConfirmPassword" formControlName="confirmpassword" type="password"/>
                <label htmlFor="ConfirmPassword">Confirm Password</label>
                </span>
                    <span *ngIf="formRegister.hasError('notSame')&&formRegister.get('confirmpassword')!.touched" [ngStyle]="{color: 'var(--red-400)'}">
                    Please, both passwords must be the same.
                </span>
                </div>
            </div>
            <div class="p-inputgroup">
                <span class="p-float-label">
                    <p-calendar  [readonlyInput]="true" pInputText id="Birthdate" [maxDate]="minDate" formControlName="birthdate"></p-calendar>
                    <label htmlFor="Birthdate">Birthdate</label>
                </span>
                <span *ngIf="formRegister.get('birthdate')!.touched&&formRegister.get('birthdate')!.hasError('required')" [ngStyle]="{color: 'var(--red-400)'}">
                    Please, choose your birthdate.
                </span>
            </div>
            <div class="item">
                <label for="gender">Gender:</label>
                <p-dropdown formControlName="gender" [options]="genders" optionLabel="name" optionValue="value"></p-dropdown>
            </div>
            <div class="p-inputgroup">

                <div class="p-inputgroup">
                    <span class="p-float-label">
                <input pInputText id="email" formControlName="email" type="email" (blur)="checkEmail()"/>
                <label htmlFor="email">E-mail</label>
                
                    </span>
                    <span *ngIf="emailtaken&&formRegister.get('email')!.touched" [ngStyle]="{color: 'var(--red-400)'}">
                        Sorry, this e-mail is already taken.
                    </span>

                    <span *ngIf="formRegister.get('email')!.touched&&formRegister.get('email')!.hasError('required')" [ngStyle]="{color: 'var(--red-400)'}">
                        Please, enter your e-mail adress.
                    </span>
                </div>

            </div>
        </div>
        <div class="buttons">
            <p-button label="Register" styleClass="p-button-raised p-button-success" type="submit" class="register-button" [disabled]="formRegister.invalid||emailtaken"></p-button>
            <p-button label="Cancel" styleClass="p-button-raised p-button-secondary" type="submit" class="register-button" routerLink="/welcome/login"></p-button>
        </div>
    </form>
</p-fieldset>